<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<div id="app">
	<p v-if='logado'>Usuário Logado: {{ nome }}</p>
	<p v-else-if='anonimo'>Navegando como anonimo</p>
	<p v-else>Nenhum Usuário logado!</p>
	<button @click='logado = !logado'>
		{{ logado ? 'Deslogar' : 'Logar' }}
	</button>
	<input type="checkbox" id="c" v-model='anonimo'>
	<label for="c">Anonimo</label>
</div>

<script>
	new Vue({
		el: '#app',
		data: {
			nome: 'Maria',
			logado: false,
			anonimo: false
		},
	})
</script>